.button {
    text-align: center;
    
    margin-top: 10%;
}
.text {
    text-align: center;
    font-family: "Alatsi";
    padding-top: 90px;
    color: blue;
}
#rock {
    width: 10%;
    height: auto;
    padding-right: 150px;
}

#paper {
    width: 10%;
    height: auto;
}

#scissors {
    width: 15%;
    height: auto;
    padding-left: 70px;
}